:root {
  --dab-normal-bgcolor: #828282;
  --dab-color: #FFF;
  --dab-normal-bgcolor-hover: 959595;
  --dab-active-bgcolor: green;
  --dab-active-bgcolor-hover: #4C9700;
  --dab-disabled-bgcolor: red;
  --dab-disabled-bgcolor-hover: coral;
  --dab-action-bgcolor: transparent;
  --dab-action-color: blue;
  --dab-action-shadow: #2D87FF;
  --dab-action-bgcolor-hover: blue;
  --dab-action-color-hover: #FFF;
  --dab-parent-shadow: rgba(0, 0, 0, 0.2);
}
[data-tab] {
  display: flex;
  padding: 12px;
  overflow: scroll;
  box-shadow: 0 0.12rem 0.2rem var(--dab-parent-shadow);
}
[data-tab] > .dab {
  margin: 5px;
  padding: 8px;
  background-color: var(--dab-normal-bgcolor);
  border-radius: 3px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--dab-color);
  flex: 1;
  text-align: center;
}
[data-tab] > .dab:hover {
  background-color: var(--dab-normal-bgcolor-hover);
}
[data-tab] > .dab[data-active] {
  background-color: var(--dab-active-bgcolor);
}
[data-tab] > .dab[data-active]:hover {
  background-color: var(--dab-active-bgcolor-hover);
}
[data-tab] > .dab[data-disabled] {
  background-color: var(--dab-disabled-bgcolor);
}
[data-tab] > .dab[data-disabled]:hover {
  background-color: var(--dab-disabled-bgcolor-hover);
}
[data-tab] > .dab[data-action] {
  background-color: var(--dab-action-bgcolor);
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  font-weight: bold;
  color: var(--dab-action-color);
}
[data-tab] > .dab[data-action]:hover {
  box-shadow: 0 0 0 3px var(--dab-action-shadow);
  background-color: var(--dab-action-bgcolor-hover);
  color: var(--dab-action-color-hover);
}