:root {
  --dab-normal-bgcolor: #828282;
  --dab-color: #FFF;
  --dab-normal-bgcolor-hover: 959595;
  --dab-active-bgcolor: green;
  --dab-normal-bgcolor-hover: #4C9700;
}
[data-tab] {
  display: flex;
  padding: 12px;
  overflow: scroll;
}
[data-tab] {
  box-shadow: 0 0.12rem 0.2rem rgba(0, 0, 0, 0.2);
}
[data-tab] > .dab {
  margin: 5px;
  padding: 8px;
  background-color: var(--dab-normal-bgcolor);
  border-radius: 3px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--dab-color);
  flex: 1;
  text-align: center;
}
[data-tab] > .dab:hover {
  background-color: var(--dab-normal-bgcolor-hover);
}
[data-tab] > .dab[data-active] {
  background-color: var(--dab-active-bgcolor);
}
[data-tab] > .dab[data-active]:hover {
  background-color: var(--dab-active-bgcolor-hover);
}
[data-tab] > .dab[data-disabled] {
  background-color: var(--dab-active-bgcolor;
}
[data-tab] > .dab[data-disabled]:hover {
  background-color: coral;
}
[data-tab] > .dab[data-action] {
  background-color: transparent;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
  font-weight: bold;
  color: blue;
}
[data-tab] > .dab[data-action]:hover {
  box-shadow: 0 0 0 3px #2D87FF;
  background-color: blue;
  color: #FFF;
}
